/* Styles.css */
.item-test {
    background: url('../images/agents.png') no-repeat top left;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

a:hover, a:focus {
  text-decoration: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.button {
  text-align: center;
  font-size: 23px;
  line-height: 23;
  padding: 5px 0;
  border-radius: 2px;
}

.btn.call-to-action-button {
  background-color: #3586a1;
  width: 100%;
  font-size: 23px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
}

#profile {
  background: url('../includes/profile/images/header-mask-portfolio-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}
@media screen and (max-width: 1200px) {
  .no-p-mt {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width: 990px) {
  .img-responsive-desktop {
    display: block;
    width: 100%;
    height: auto;
  }
}
