/* Standard Navigation */

#standard-navigation .test {
    background: url('./images/agents.png') no-repeat top left;
}

.logo {
  position: relative;
  top: 20px;
}

.logo img{
  height: 80px;
}

.navigation-container {
  background: #3586a1;
}

nav li {
  display: inline-block;
  margin-left: 32px;
  text-align: center;
  padding: 12px 0 11px 0;
}

nav li a {
  color: #fff;
  font-size: 12px;
}

.secondary-nav {
  float: right;
}

.secondary-nav li{
  display: inline-block;
  margin-left: 35px;
  padding-top: 29px;
  padding-bottom: 36px;
}

.secondary-nav li a {
  font-size: 16px;
  color: #3586a1;
}

.button-container {
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-menu {
  text-align: center;
  position: relative;
}

.toggle-menu a {
  color: #d63b52;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.toggle-dropdown {
  position: absolute;
  top: 99%;
  right: -15px;
  background: #fff;
  padding: 40px 29px 20px 2px;
  z-index: 10;
}

.toggle-dropdown li {
  padding: 0 20px;
  font-size: 18px;
  list-style: none;
  margin: 10px 0;
}

.toggle-dropdown li:first {
  margin-top: 0;
}

.toggle-container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.toggle-container.toggled {
  background: #971e23;
}

.toggled .toggle-menu > a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .logo img{
    height: 40px;
  }

  .toggle-menu {
    padding: 30px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .logo {
    top: 0;
  }

  .logo img {
    height: 70px;
  }
  .main-nav-container .logo {
    padding: 30px 0;
  }

  .main-nav-container .toggle-menu {
    padding: 50px 0;
  }
}

@media screen and (max-width: 1200px) {
  .toggle-container {
    border-left: 2px solid #ccc;
  }
}
