<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <div class="row visible-xs">
                <div class="col-xs-12">
                    <h1 class="profile-header"><%- profile.first_name %> <%- profile.last_name %></h1>
                    <h2 class="job-title"><%- profile.title %></h2>
                    <ul class="profile-social">
                        <li>
                            <a href="<%- profile.twitter %>"><img src="includes/profile/images/twitter-copy.svg" alt="twitter logo"></a>
                            <!-- <a href="<%- profile.twitter %>"><img src="<%- theme_data.twitter_icon %>" alt="twitter logo"></a> -->
                        </li>
                        <li>
                            <a href="<%- profile.facebook %>"><img src="includes/profile/images/facebook-copy.svg" alt="facebook logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.googleplus %>"><img src="includes/profile/images/google-copy.svg" alt="google plus logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.linkedin %>"><img src="includes/profile/images/linkedin-copy.svg" alt="linkedin logo"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row person-container">
                <!-- <div class="col-xs-5 col-sm-4 profile-image-container">
                    <img src="<%- profile.profile_photo %>" alt="" class="img-responsive">
                </div> -->
                <div class="col-xs-7 button-container visible-xs">
                    <ul>
                        <li>
                            <button type="button" class="button">Get a Quote</button>
                        </li>
                        <li>
                            <button type="button" class="button">My Account</button>
                        </li>
                        <li>
                            <button type="button" class="button">Pay Now</button>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 visible-xs">
                    <p>As your agent I'll work hard to learn your individual situation as a customer, in order to suggest the right Henry & Cooper tools to meet your needs and your budget. I'm right in your community, too, so I can provide caring and convenient
                        service in person, as well as on the phone or online.</p>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-7 hidden-xs">
                    <h1 class="profile-header"><%- profile.first_name %> <%- profile.last_name %></h1>
                    <h2 class="job-title"><%- profile.title %></h2>
                    <ul class="profile-social">
                        <li>
                            <a href="<%- profile.twitter %>"><img src="includes/profile/images/twitter-copy.svg" alt="twitter logo"></a>
                            <!-- <a href="<%- profile.twitter %>"><img src="<%- theme_data.twitter_icon %>" alt="twitter logo"></a> -->
                        </li>
                        <li>
                            <a href="<%- profile.facebook %>"><img src="includes/profile/images/facebook-copy.svg" alt="facebook logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.googleplus %>"><img src="includes/profile/images/google-copy.svg" alt="google plus logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.linkedin %>"><img src="includes/profile/images/linkedin-copy.svg" alt="linkedin logo"></a>
                        </li>
                    </ul>
                    <p class="agent-description">As your agent I'll work hard to learn your individual situation as a customer, in order to suggest the right Henry & Cooper tools to meet your needs and your budget. I'm right in your community, too, so I can provide caring and convenient
                        service in person, as well as on the phone or online.</p>
                    <div class="button-container">
                        <ul>
                            <li>
                                <button type="button" class="button">Get a Quote</button>
                            </li>
                            <li>
                                <button type="button" class="button">My Account</button>
                            </li>
                            <li>
                                <button type="button" class="button">Pay Now</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
