<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1 class="profile-header"><%- profile.first_name %> <%- profile.last_name %></h1>

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="job-title"><%- profile.title %></h2>
                    <ul class="profile-social">
                        <li>
                            <a href="<%- profile.twitter %>"><img src="https://hsl-downloadable-files-test1.s3.amazonaws.com/2001/d2b8a2bf03414d47af1fa39878e2a72f.png" alt="twitter logo"></a>
                            <!-- <a href="<%- profile.twitter %>"><img src="<%- theme_data.twitter_icon %>" alt="twitter logo"></a> -->
                        </li>
                        <li>
                            <a href="<%- profile.facebook %>"><img src="https://hsl-downloadable-files-test1.s3.amazonaws.com/2001/3966037ceb3440218af1ed96e7864db9.png" alt="facebook logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.googleplus %>"><img src="https://hsl-downloadable-files-test1.s3.amazonaws.com/2001/6024bce67313470b8eae05f67df84959.png" alt="google plus logo"></a>
                        </li>
                        <li>
                            <a href="<%- profile.linkedin %>"><img src="https://hsl-downloadable-files-test1.s3.amazonaws.com/2001/30e1ff3ee6f841bab8497f38ce80fabf.png" alt="linkedin logo"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row row-eq-height person-container">
                <div class="col-xs-5 profile-image-container">
                    <img src="<%- profile.profile_photo %>" alt="" class="img-responsive">
                </div>
                <div class="col-xs-7 button-container">
                    <ul>
                        <li>
                            <button type="button" class="button">Get a Quote</button>
                        </li>
                        <li>
                            <button type="button" class="button">My Account</button>
                        </li>
                        <li>
                            <button type="button" class="button">Pay Now</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>As your agent I'll work hard to learn your individual situation as a customer, in order to suggest the right Henry & Cooper tools to meet your needs and your budget. I'm right in your community, too, so I can provide caring and convenient
                        service in person, as well as on the phone or online.</p>
                </div>
            </div>
        </div>
    </div>
</div>
